

.header {

}
#box1 {
display: inline-block;
padding: 10px;
}
#box2 {
position: absolute; 
right: 10px;
display: inline-block;
padding: 10px;
}

div {
font-family: Arial, Helvetica, sans-serif;
}

.container {
 
 /*background-color: #5F3F64;*/
 padding: 20px;
}
#maingrad {
  background: #5F3F64; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, #5F3F64, #000000); /* Safari */
  background: -o-radial-gradient(circle, #5F3F64, #000000); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #5F3F64, #000000); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #5F3F64, #000000); /* Standard syntax */
}

.mainrow1 {
padding: 10px;
}
#landscapebox1 {
border: 3px solid #C0C0C0;
display: inline-block;
margin: 10px;
width: 40%;
vertical-align: top;
}
#landscapebox2 {
display: inline-block;
margin: 10px;
width: 50%;
background-color: #E6C3EC;
vertical-align: top;
}
img {
    max-width: 100%;
    height: auto;
}
table, th, td {
	width: 100%;
	border-collapse: collapse;
	padding: 10px;
	/*text-align: center;*/

}

.mainrow2 {
padding: 10px;
}
.portraitbox {
display: inline-block;
margin: 10px;
width: 30%;
background-color: #E6C3EC;
}
.heading {
color: white;
}

#grad { 
 background: linear-gradient(#C0C0C0, #808080, #C0C0C0); 
}

.icon {
width: 50px;	
}
.button {
border: 1px solid black;
background-color: teal;
border-radius: 10px;
padding: 5px;
display: inline;
width: 150px;
box-shadow: 5px 5px 5px #888888;
}
.textaligncenter {
text-align: center;
}

#buttonlink {
    text-decoration: none;
    color: white;
    }
.footer {
padding: 10px;
}
.icon2 {
width: 15px;
margin: 2px;
}
#footlink {
color: black;
font-style: italic;	
}

#footrow1 {
text-align: center;
}
#footrow2 {
text-align: center;
margin-top: 10px;
}